@model Sant01.Models.Employee
@{
    ViewData["Title"] = "Delete employee";
}

<h2>Delete employee from the system?</h2>


<div class="text-right my-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>

<partial name="_employeeInfoPartial" />